# build output
dist

# dependencies
node_modules/
.snowpack/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Local Netlify folder
.netlify
netlify

.astro
.idea
.vercel

# cache
__pycache__/
*.swp

# others
import_photo/raw_photo/
import_photo/named_photo/
public/images/main.py
public/images/icon_photo/raw/
src/content/main.py
import_photo/processed.txt

dev/hoge.py
dev/main.py
dev/sub.py
