---
export const prerender = true

import { getCollection, getEntryBySlug } from 'astro:content'
import DefaultPageLayout from '$/layouts/default.astro'


const title = 'ホーム'
const description = '有志による非公式の牛久観光サイトです'
---
<DefaultPageLayout content={{ title, description }} showPageHeader={false}>

<section class="hero-section">
  <div class="hero-bg-overlay absolute inset-0 z-0"></div>

  <div class="hero-overlay">
    <h1 class="hero-title">ホーム</h1>
    <p class="hero-subtitle">牛久観光情報のサイトです。<br>有志が非公式に作成しました。</p>
  </div>
</section>

<section class="category-section">

  <div class="grid gap-6 grid-cols-2">
    <!-- 観光・グルメ -->
    <div class="card">
      <div class="card-content">
        <img src="icon/top/spots.svg" class="card__icon" />
        <h3 class="card_name">観光・グルメ</h3>
      </div>
      <div class="grid grid-cols-2 gap-2 mt-2 text-sm">
        <a class="subbtn" href="/spot_note">リスト</a>
        <a class="subbtn" href="/tags">タグ</a>
        <a class="subbtn" href="/map">地図</a>
        <a class="subbtn" href="/photos">写真</a>
      </div>
    </div>

    <!-- モデルコース -->
    <a href="/course" class="card block no-underline">
      <div class="card-content">
        <img src="icon/top/course.svg" class="card__icon" />
        <h3 class="card_name">モデルコース</h3>
        <p class="sub_sentence">おすすめルートを紹介。<br>牛久の魅力を巡ろう！</p>
      </div>
      <div class="linkbtn mt-3">見る →</div>
    </a>

    <!-- ギャラリー -->
    <a href="/gallery" class="card">
      <div class="card-content">
        <img src="icon/top/gallarey.svg" class="card__icon" />
        <h3 class="card_name">ギャラリー</h3>
        <p class="sub_sentence">写真で牛久を感じよう！</p>
      </div>
      <div class="linkbtn mt-3">見る →</div>
    </a>

    <!-- リンク集 -->
    <a href="/links" class="card">
      <div class="card-content">
        <img src="icon/top/links.svg" class="card__icon" />
        <h3 class="card_name">リンク集</h3>
        <p class="sub_sentence">外部サイトまとめ</p>
      </div>
      <div class="linkbtn mt-3">見る →</div>
    </a>

    <!-- 旅のTips -->
    <a href="/tips" class="card opacity-50">
      <div class="card-content">
        <img src="icon/top/tips.svg" class="card__icon" />
        <h3 class="card_name">豆知識</h3>
        <p class="sub_sentence">牛久に関する豆知識を紹介。</p>
      </div>
      <div class="linkbtn mt-3">見る →</div>
    </a>

    <!-- その他 -->
    <a href="/about" class="card">
      <div class="card-content">
        <img src="icon/top/information.svg" class="card__icon" />
        <h3 class="card_name">その他</h3>
        <p class="sub_sentence">このサイトについて。</p>
      </div>
      <div class="linkbtn mt-3">見る →</div>
    </a>

  </div>
</section>

</DefaultPageLayout>

<style>
  .hero-section {
    @apply relative w-[98%] mx-auto aspect-[16/6] mt-3 mb-3 rounded-lg overflow-hidden;
    background-image: url('/images/photos/ushiku_station_east.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .hero-bg-overlay {
    @apply bg-white opacity-60 dark:bg-black dark:opacity-60;
  }

  .hero-overlay {
    @apply absolute inset-0 flex flex-col items-center justify-center text-white text-center px-4;
    z-index: 10;
  }
  
  .hero-title {
    @apply text-5xl font-bold sm:text-5xl text-black dark:text-white;
  }
  
  .hero-subtitle {
    @apply text-base mt-2 text-black dark:text-white
  }

  .category-section {
    @apply mb-4 mt-3 px-1;
  }

  .grid-wrapper {
    @apply grid grid-cols-2 gap-1;
  }

  .card {
    @apply justify-between p-3 
        border border-gray-300 dark:border-gray-600 rounded-md 
        bg-gray-200 dark:bg-gray-700 
        flex flex-col items-center text-center;
  }

  .card__icon {
    @apply text-6xl mb-1 h-24 mx-auto dark:invert;
  }

  .subbtn-row {
    @apply grid grid-cols-2 gap-1 w-full mt-2;
  }

  .subbtn {
    @apply w-full bg-purple-600 text-white text-base rounded px-[0.25rem] py-0.5 text-center hover:bg-purple-700;
  }

  .linkbtn {
    @apply text-base mt-auto self-end text-purple-700 dark:text-purple-300 hover:underline block mt-2 text-sm;
  }

  .card_name {
    @apply text-xl font-semibold;
  }

  .sub_sentence {
    @apply text-xs py-1;
  }
</style>

