---
import { SITE } from '$/config'
import SvgIcon from './SvgIcon.astro'
import Nav from './Nav.astro'; 
import ModeSwitcherBtn from './ModeSwitcherBtn.svelte'
import SearchBtn from './SearchBtn.svelte'
---

<header class="header">
    <div class="header__logo flex items-center gap-1 justify-between">
        <Nav />
        <h3 class="header__title dark:text-theme-dark-secondary">
            <a href="/">{ SITE.name }</a>
        </h3>
        <nav class="header__nav flex pt-2 ml-auto">
            <ul class="header__ref-list">
                <li>
                    <ModeSwitcherBtn client:visible />
                </li>
            </ul>
        </nav>
    </div>
</header>

<style>
    .header {
        @apply flex flex-col gap-3 border-b /* border-gray-200 dark:border-gray-700 - check styles/global.css */
        pt-2 pb-2
    }
    .header__logo-img {
        @apply w-6 h-6 rounded-lg overflow-hidden
    }
    .header__title {
        @apply text-2xl font-extrabold md:text-3xl text-theme-secondary dark:text-theme-dark-secondary
    }
    .header__desc {
        @apply text-xl flex-1 dark:text-gray-200
    }
    .header__ref-list {
        @apply flex gap-3 text-gray-400
    }
</style>
