---
import LinkPreview from './LinkPreview.astro'
const { posts } = Astro.props
---
<section class="media-preview__list">
    {posts.map((post) => (
        <LinkPreview post={post}/>
    ))}
</section>
<style>
    .media-preview__list {
        @apply flex flex-col gap-4
    }
</style>
