---
const { time, name } = Astro.props;
---

<div class="flex items-start gap-2 text-base my-2">
  <div class="w-14 text-right font-mono text-gray-500 dark:text-gray-300">{time}</div>
  <div class="relative pl-2 drak:text-gray-200">
    <div>{name}</div>
  </div>
</div>

