---
const { time, name } = Astro.props;
---

<div class="flex items-start gap-2 text-base my-2">
  <div class="w-14 text-right font-mono text-gray-500 dark:text-gray-300">{time}</div>
  <div class="relative pl-4">
    <div class="absolute left-0 top-1 w-2 h-2 rounded-full bg-gray-400"></div>
    <div>{name}</div>
  </div>
</div>

